<h1 class="content__title">On The Internet</h1>

<ul class="account">
  {{#online_accounts}}
  <li class="account__item">
    <a href="{{ account.url }}" title="{{ account.title }}" class="account__card">
      <img src="{{ account.icon }}" alt="{{ account.title }}" class="account__image" />
      <h2 class="account__title">{{ account.title }}</h2>
      <ul class="menu">
        {{#each account.tags}}
        <li class="menu__item">#{{ . }}</li>
        {{/each}}
      </ul>
    </a>
  </li>
  {{/online_accounts}}
</ul>
