<h2 class="content__title">Projects</h2>

<div class="flex-grid">
  {{#projects}}
  <div class="flex-grid__item">
    <a href="http://{{ project.url }}" class="card">
      <div  class="card__icon">
        <svg width="80" height="80">
          <image xlink:href="imgs/projects/{{ project.icon }}.svg" src="imgs/projects/{{ project.icon }}.png" width="80" height="80" />
        </svg>
      </div>

      <div class="card__data">
        <h2 class="card__title">{{ project.title }}</h2>

        <p class="card__description">{{{ project.description }}}</p>

        <span class="card__display-url">{{ project.url }}</span>
      </div>
    </a>
  </div>
  {{/projects}}
</div>
